.absolute-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.max-width {
    width: 80%;
    margin: auto;
}

.heading-gradient {
    background: var(--text-gradient-bg);
    background: var(--text-gradient-1);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.transparent {
    background-color: rgba(0, 0, 0, .4);

}

.javascript {
    color: #FBE01C;
}

.react {
    color: #61DBFB;
}

.node {
    color: #479848;
}

.mongodb {
    color: #00ED64;
}

.html {
    color: #F06529;
}

.css {
    color: #2565AE;
}

.tailwind {
    color: #36B7F0;
}

.bootstrap {
    color: #7A11F3;
}