@import url('../src/common/styles/commonClasses.css');
@import url('../src/common/styles/variable.css');


body {
  background: url('https://wallpaperaccess.com/full/274198.jpg') no-repeat center;
  background-size: cover;
  /* background-color: var(--background); */
  color: var(--white);
  background-attachment: fixed;
}